.Auth {
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;

  .LoadingBg {
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    position: absolute;
  }
}

.Header {
  width: 100vw;
}

.FormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.FormContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 2rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
}
