.LoadingBg {
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  position: absolute;
}

ul {
  list-style: none;
}

.SingleOption {
  width: 85%;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  padding: 0.5rem;
  max-height: 40rem;
  overflow: scroll;
  .SingleOptionHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
  }
  .SingleListItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
    padding: 0.25rem 0;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
  }
  .SingleOptionsInputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ChangeAdminStatus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .Hoverable:hover {
    cursor: pointer;
  }
}
