.PageWrapper {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    border: 1px solid;
    padding: 1rem;
    margin: 1rem;
    box-sizing: border-box;
  }
}
