@import '../../../../variables.scss';

.MessageWrapper {
  width: 85%;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
  border-radius: $spacing-8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $spacing-8;
}
