@import '../../variables.scss';

.LoadingBg {
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  position: absolute;
}

.ErrorMessage {
  color: $error;
}
.ErrorMessage:hover {
  cursor: pointer;
}

.SuccessMessage {
  color: $success;
}
.SuccessMessage:hover {
  cursor: pointer;
}

.Form {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  Button {
    width: 15rem;
    height: $spacing-48;
  }

  .Input {
    width: 100%;
    height: $spacing-48;
    padding: $spacing-8;
    box-sizing: border-box;
  }

  .Label {
    font-weight: bold;
    display: block;
    margin-bottom: $spacing-8;
  }

  .InputElement {
    outline: none;
    border: $spacing-1 solid $off-white;
    background-color: $bg-white;
    font: inherit;
    padding: $spacing-8 $spacing-8;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
}
