@import '../../variables.scss';

.SingleCard {
  border: 1px solid;
  border-color: #ccc;
  width: 33%;
  box-sizing: border-box;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
  border-radius: $spacing-8;
  padding: $spacing-8;
  display: flex;
  flex-direction: column;
  align-items: center;

  .CardItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0.25rem 0;
    .FormInputWrapper {
      border: 1px solid;
      border-color: #ccc;
      width: 100%;
      box-sizing: border-box;
      border-radius: $spacing-8;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      input {
        outline: none;
        border: 1px solid #ccc;
        background-color: white;
        font: inherit;
        padding: $spacing-8 $spacing-8;
        display: block;
        width: 100%;
        border-radius: $spacing-8;
        box-sizing: border-box;
      }
      input:focus {
        outline: none;
        background-color: #ccc;
      }
    }
  }
}

.deliveroo {
  background-color: #00cdbc;
  color: white;
}

.justEat {
  background-color: #d50525;
  color: white;
}

.uberEats {
  background-color: #262626;
  color: #5fb709;
}
