@import '../../../variables.scss';

.WarningBannerWrapper {
  border: 1px solid red;
  background-color: orangered;
  color: white;
  height: 1.75rem;
  padding: $spacing-8;
  display: flex;
  flex-direction: column;
  align-items: center;
}
