@mixin border {
  border: 1px solid;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.RestaurantContainer {
  @include flex-row();
  height: calc(100% - 4rem);
  box-sizing: border-box;
  padding: 1rem;
  .OptionsContainer {
    @include flex-column();
    border-right: 1px solid #eee;
    width: 50%;
    .RestaurantOptions {
      @include flex-column();
      width: 100%;
      padding: 1rem;
      .RestaurantOption {
        width: 100%;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
  .MenuContainer {
    @include flex-column();
    width: 50%;
    .MenuOptions {
      @include flex-column();
      width: 100%;
      padding: 1rem;
      .MenuOption {
        width: 100%;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .MenuCards {
        width: 100%;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
      }
    }
  }
}
