@import '../../../variables.scss';

.Input {
  width: 100%;
  padding: $spacing-8;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: $spacing-8;
}

.InputElement {
  outline: none;
  border: $spacing-1 solid $off-white;
  background-color: $bg-white;
  font: inherit;
  padding: $spacing-8 $spacing-8;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.InputElement:focus {
  outline: none;
  background-color: $off-white;
}

.Invalid {
  border: $spacing-1 solid red;
  background-color: #fda49a;
}

.ValidationError {
  color: red;
  margin: 5px 0;
}
