@import '../../../variables.scss';

.MessagesWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $spacing-16;
  width: 100%;
  .MessagesSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 40rem;
    overflow: scroll;
    .SingleMessage {
      margin: 0.25rem 0;
      width: $width-80;
    }
  }
}
